{% extends 'base.html' %}

{% block title %} Guest Book {% endblock %}

<head>
    <script type="text/javascript" src="Tonejs-Instruments.js"></script>
    <script type="text/javascript" src="external-js/nprogress.js"></script>
</head>

{% block css %}
<!-- Bootstrap theme-->
<link href="{{ url_for('static', filename='css/Bootstrap-theme.min.css')}}" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{ url_for('static', filename='css/theme.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container theme-showcase" role="main">
    
    <div class="page-header" >
        <script>

            let params = {
                volume:1,
                freq:440.0,
                gain:1,
                play:false,
                eeg : 1,
                tempo : 80,
                all : false,
                type : null,
                channel : null,
            };
            

            var socket = io.connect('http://'+document.domain + ':' + location.port);
            const notes = Array(200).fill(null).map(()=>Array());
            const melody_notes = Array(200).fill(null).map(()=>Array());
            var note, timer;
            

            socket.on('connect', function(data){
                console.log('Websocket connected!');
                /*
                if(params.connected){
                }
                else{
                    params.connected = true;
                    socket.emit('init_process')
                }
                */
                console.log("eeg data:", data);
                //params.eeg = data;
                //console.log("raw data:", params.eeg);
                if(data){
                    params.eeg = data['raw'];
                    console.log("raw data:", params.eeg);
                }
                
            });

            //TODO : oscInit() function that initializes an oscillator
            //TODO : oscUpdate() function that updates the frequency and volume of the oscillator
            ///////  oscillator.frequency.value = params.freq + params.gain * EEG;
            ///////  oscillator.volume.value = params.volume
            //TODO : play(V) function that starts or stops oscillators

        
            var gui = new dat.GUI();

            gui.add(params, 'volume').min(-50).max(50).step(0.1).onChange((value)=>{
                if(params.play){
                    //sonify()
                    oscUpdateNotes()
                    play()
                }
            });
            gui.add(params, 'freq').min(-100).max(1000).onChange((value)=>{
                if(params.play){
                    //sonify()
                    oscUpdateNotes()
                    play()
                }
            });
            gui.add(params, 'gain', 0, 5).onChange((value)=>{
                if(params.play){
                    //sonify()
                    oscUpdateNotes()
                    play()
                }
            });
            gui.add(params, 'tempo', 0, 100).step(0.1).onChange((value)=>{
                if(params.play){
                    clearInterval(timer);
                    play()
                }
            });
            gui.add(params, 'type', ['sine', 'square', 'sawtooth', 'square']).onChange((value)=>{
                if(params.play){
                    //sonify()
                    //clearInterval(timer);
                    oscInit()
                    oscUpdateNotes()
                    play()
                }
            });
            gui.add(params, 'channel', ['all', '1', '2', '3', '4','5']).onChange((value)=>{
                if(params.play){
                    //sonify()
                    clearInterval(timer);
                    oscUpdateNotes()
                    play()
                }
            });

            
            

            gui.add(params, 'play').onChange(function(value){

                if(value){
                    oscInit()
                    oscUpdateNotes()
                    play()
                }
                else{
                    stop()
                }
            });

            function oscInit(){
                
                //params.oscs = []
                base_osc = []

                for(let i=1; i<=5; i++){
                    base_osc.push(200*i);
                }

                console.log("base :", base_osc);

                synth = new Tone.PolySynth(5, Tone.Synth, {
                    oscillator : {
                        type : params.type
                    },
                    envelope : {
                        decay : 1,
                        release : 1
                    }
                }).chain(Tone.Master);
           
            }

            function oscUpdateNotes(){
                clearInterval(timer);
                

                for(let j=0; j<params.eeg[1].length; j++){

                    for(let i=0; i<5; i++){

                        let eeg = Math.round(params.eeg[i][j]);
                        if (eeg < 0) eeg = -eeg;

                        let noteName = String.fromCharCode(65 + eeg % 7);
                        console.log(noteName);
                        //if (noteName == 'B') noteName = 'D';
                        //let code = 2 + Math.floor((eeg / 7) % 4);
                        //if (code < 0) code = -code;
                        //console.log("code" , code);
                        let code = 4;

                        
                        note = noteName + code;
                        melody_notes[j].push(note);

                        
                        synth.volume.value = params.volume;
                        console.log("note:", note);

                        //o.Transport.bpm.value = params.tempo;
                        //Tone.Transport.bpm.rampTo(params.tempo,10);
                    }
                }
            }


            function oscUpdate(){

                //let noteName = String.fromCharCode(65 + )
                //synth.triggerAttackRelease(['E5', 'C5', 'A5'],'4t');

                clearInterval(timer);
                for(let j=0; j<params.eeg[1].length; j++){

                    for(let i=0; i<5; i++){

                        let eeg = Math.round(params.eeg[i][j]);
                        //if (eeg < 0) eeg = -eeg;

                        note = base_osc[i] + params.freq + params.gain * eeg;  
                        notes[j].push(note);

                        synth.volume.value = params.volume;
                        //console.log("note:", note);

                        //o.Transport.bpm.value = params.tempo;
                        //Tone.Transport.bpm.rampTo(params.tempo,10);
                    }
                }
                
                //myLoop();
                
                
            }
            

            /*

            function myLoop(){
                setTimeout(function(){
                    synth.triggerAttackRelease(notes[i], 0.1);
                    console.log("notes:", notes[i]);
                    i++;
                    myLoop();
                }, 100)
    
            }
            */



            function play(){
                if (params.channel == 'all') {
                    sonify_all()    
                }
                else {
                    sonify_channel()
                }
  
            }

            function sonify_all(){
                let i = 0; 
                timer = setInterval(function(){
                    synth.triggerAttackRelease(melody_notes[i], 1);
                    console.log("notes:", notes[i]);
                    console.log("tempo:", params.tempo);
                    i++;
                },10 * params.tempo);
            }


            function sonify_channel(){
                let i = 0; 
                var ins = "piano"
                if(params.channel == 1){
                    ins = "cello";
                }
                else if (params.channel == 2){
                    ins = "g"
                }
                else if (params.channel == 3){
                    ins = "f"
                }
                else if (params.channel == 4){
                    ins = "s"
                }
                else {
                    ins = "piano"
                }
                timer = setInterval(function(){
                    //synth.triggerAttackRelease(melody_notes[i][params.channel], 1);
                    
                    var x = document.getElementById(ins+melody_notes[i][params.channel]);
                    if (x != null){
                        x.play();
                    }
                    
                    console.log("notes:", melody_notes[i][params.channel]);
                    console.log("tempo:", params.tempo);
                    i++;
                }, 10 * params.tempo);
            }
            

            function stop(){
                //cancelAnimationFrame(sonify);
                /*
                params.oscs.forEach((o,i)=>{
                    o.dispose();
                })
                */
                clearInterval(timer);
                synth.dispose();
            }

            
    
        </script>
    </div>
</div> <!— /container —>
{% endblock %}